<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="Servername, MyDatabaseConnection"
			 providerName="System.Data.SqlClient"
			 connectionString="Server = ______; Database = ______; User ID = _______;
			 Password = ______; Integrated Security = True; "/>
	</connectionStrings>
	<appSettings>
		<!-- Database settings -->
		<add key="DatabaseServer" value="_______" />
		<add key="AspireDatabase" value="_______" />

		<!-- Path settings -->
		<add key="PathsToCheck" value="_______, _______" />

		<!-- Log file path -->
		<add key="LogPath" value="_______" />

		<!-- Check subfolders (true/false) -->
		<add key="CheckSubFolders" value="true" />

		<!-- Report only (true/false) -->
		<add key="ReportOnly" value="true" />
	</appSettings>
</configuration>
